src/main/mule/bill-sap.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config
		name="bill-sap-httpListenerConfig">
		<http:listener-connection host="0.0.0.0"
			port="${listenerAPI.port}" />
	</http:listener-config>
	<apikit:config name="bill-sap-config"
		api="resource::2332bd66-03f6-49a8-bb2d-452c4ef8ad43:bill-sap:1.0.0:oas:zip:bill-sap.json"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />
	<http:request-config name="HTTP_Request_DashBoard"
		doc:name="HTTP Request configuration"
		doc:id="2eaabd19-5c96-4c59-b937-ce67dd6e6e31">
		<http:request-connection
			host="${serviceBillsHost}" port="${serviceBillsPort}" />
	</http:request-config>
	<http:request-config
		name="HTTP_Request_DashBoard_mock"
		doc:name="HTTP Request configuration"
		doc:id="1e5126b6-e2a6-452b-a6d4-0c73e0932b42">
		<http:request-connection protocol="HTTPS"
			host="run.mocky.io">
			<tls:context>
				<tls:trust-store insecure="true" />
			</tls:context>
		</http:request-connection>
	</http:request-config>
	<flow name="bill-sap-main">
		<http:listener config-ref="bill-sap-httpListenerConfig"
			path="${apiPath}">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="bill-sap-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="bill-sap-console">
		<http:listener config-ref="bill-sap-httpListenerConfig"
			path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="bill-sap-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform
					xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow
		name="post:\bills\dashboard\search:application\json:bill-sap-config">
		<logger level="INFO"
			message="post:\bills\dashboard\search:application\json:bill-sap-config" />
		<set-variable value="#[payload]" doc:name="Set Variable"
			doc:id="4f333e6f-4de9-49cb-9671-73409b4ce855"
			variableName="billDashboardRequest" />
		<http:request method="POST" doc:name="Request DashBoard"
			doc:id="964d9c7b-d906-4f69-851c-fd7f77a1508a"
			path="/v3/cc806542-16de-4b98-bbcb-3a010ff9516a"
			config-ref="HTTP_Request_DashBoard_mock">
			<http:body><![CDATA[#[vars.billDashboardRequest]]]></http:body>
		</http:request>
		<logger level="INFO" doc:name="Logger"
			doc:id="8a071862-1513-4c30-b50c-2b158fc77161" />
		<choice doc:name="Choice"
			doc:id="514e0c38-0e45-4b3f-b030-c3d8c32576ec">
			<when expression="#[sizeOf(payload.error.msgCode default []) &gt; 0]" >
				<logger level="INFO" doc:name="Logger" doc:id="66a629cf-91f9-42f8-b96d-b4f3bae70778" />
				<ee:transform doc:name="Transform Message" doc:id="7dfdb581-91ea-4ab7-9096-d31e0a65ff26" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"msgCode": payload.error.msgCode,
	"msgText": payload.error.msgText
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[payload.error.msgCode]" doc:name="Set Variable" doc:id="3864de21-18b2-4fb5-8619-a7aff15f698a" variableName="httpStatus"/>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger"
					doc:id="99805a1f-2a7e-4232-b07e-830a5ab18b65" />
				<ee:transform doc:name="Transform Message" doc:id="9a8f0bee-f6c4-483a-bc17-10aeb9c42262" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.dashboard]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="53631528-8cc6-43fb-8271-2cc92a98fc99" >
				<logger level="INFO" doc:name="Logger" doc:id="ccc6374d-c105-4498-aab2-3b1bdfaaebe2" message="#[error.errorMessage.payload]"/>
				<ee:transform doc:name="Transform Message" doc:id="b3b15ad9-db7b-4bf2-8e39-5c67a79c7122" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
error.errorMessage.payload.error]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="#[error.errorMessage.attributes.statusCode]" doc:name="Set Variable" doc:id="8873c91d-3135-4b77-aaad-bbf22b3ed625" variableName="httpStatus"/>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
